.text-orangered{
    color: orangered;
}
.my-self{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-section{
padding-bottom: 50px;
}
.skill-image{
    
}
.skill-image img{
    width: 60%;
}

