.contact-section{
    background-image: url('../../Assest/background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.form-title{
    color: white;
}
.input-title{
    display: flex;
    font-size: 20px;
    color: white;
}
.contact-info {
    background-image: url("../../Assest/codding.gif");
    background-repeat: no-repeat;
   background-size: cover;
   padding: 10px;
    /* color: white; */
    display: flex;
    flex-direction: column;
    text-align: left;
    vertical-align: middle;
    height: 100%;
}
.contact-info a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    /* color: white; */
    color: black;
    margin-bottom: 10px;
    display: inline-block;
}
.contact-info a:hover {
     color:blue;
     font-size: 21px;
     transition: all .4s;
     -webkit-transition: all .4s;
     -moz-transition: all .4s;
     -ms-transition: all .4s;
     -o-transition: all .4s;
}
