.footer-area{
    background-color:#faf2d7a8;
}
.footer-bottom{
    color: black;
    padding-top: 40px;
    padding-bottom: 30px;
    font-style: italic;
    z-index: 2;
}
.footer-bottom h4{
    font-weight: bold;
}