.footer-area{
    background-color:#0b1151;
}
.footer-bottom{
    color: white;
    padding-top: 40px;
    padding-bottom: 30px;
    font-style: italic;
    z-index: 2;
}
.footer-bottom h4{
    font-weight: bold;
}